body {
  margin: 5rem 10rem;
}
h1 {
  font-size: 2.5vw;
}
p {
  font-size: 1.5vw;
}
.blog-title h1 {
  text-align: center;
  font-size: 3vw;
}
.blog-card {
  padding: 25px;
  margin: 20px;
  /* border: 1px solid grey; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
