body {
  margin: 4rem 10rem;
}
h1 {
  font-size: 2.5vw;
}
p {
  font-size: 1.5vw;
}
.blog-card {
  padding: 15px;
  margin: 10px;
  /* border: 1px solid grey; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
